<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <title>Already Done</title>
    </head>
    <body>
        <h1>Form already submitted</h1>
        <h3>You have already submitted a response to this survey. Only one response is allowed.</h3>
        <span style="font-size:1.2em;"><center><a href="/">Back</a></center></span>
    </body>
</html>