<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <title>Email Error</title>
    </head>
    <body>
        <h1>Email Error</h1>
        <h3>A response has already been recorded with this email address.</h3>
        <span style="font-size:1.2em;"><center><a href="/">Back</a></center></span>
    </body>
</html>